body{
  color: $primary;
  text-align: justify;
}

h1{
  font: normal normal bold 40px/60px Noto Sans CJK TC;
}
h2{
  font: normal normal  32px/48px Noto Sans CJK TC;
}
h3{
  font: normal normal  28px/32px Noto Sans CJK TC;
}
h4{
  font: normal normal  24px/28px Noto Sans CJK TC;
}
p{
  font: normal normal  16px/20px Noto Sans CJK TC;
}

